html {	
	font-family: Arial;
	font-family: Lato;
    background-color: #fff;
	font-size: 16px;
	color: #303030;
}

a{color: yellow;}

p{background-color: none;content: "";}

.paragrafnext {
   color: #f00;
   background-color: #000;
}

