html {	
	font-family: Arial;
	font-family: Lato;
    background-color: #303030;
	font-size: 16px;
	color: #fff;
}

a{color: yellow;}

input {
   margin:10px;
}

input[type="text"] {
   display: block;
   box-sizing: border-box;
   width: 300px;
}
input[type="submit"] {
   width: 300px;
}



