html {	
	font-family: Arial;
	font-family: Lato;
    background-color: #303030;
	font-size: 16px;
	color: #fff;
}


a{color: yellow;}

p:after{
   line-height: 2em;
   content: " PLN";
}
p > span {
   font-weight: bold;
   letter-spacing: 2px;
   color: yellow;
}

input {
   margin:10px;
    display: block;
   width: 300px;
   
}

input[type="text"] {
  
   box-sizing: border-box;
   
}
input[type="submit"] {
   background-color: dodgerblue;
}
